[musicplayer]
mod-type = mpd
mod-root = ~/music

[films]
mod-type = videoplayer
mod-name = Films
mod-root = ~/film

[documentaries]
mod-type = videoplayer
mod-name = Documentaries
mod-root = ~/documentaries

[comedy]
mod-type = videoplayer
mod-name = Comedy
mod-root = ~/comedy

[series]
mod-type = videoplayer
mod-name = Series
mod-root = ~/series

[chinese-cartoons]
mod-type = videoplayer
mod-name = Anime
mod-root = ~/anime

[cartoons]
mod-type = videoplayer
mod-name = Cartoons
mod-root = ~/cartoons
