.children {
    margin-left: 2em;
    padding-bottom: .2em;
}

.directory-list .entry {
    padding: .1em;
    padding-left: .5em;

    background-color: #334;
}

.directory-list .directory {
    margin-top: .15em;
    margin-bottom: .15em;
    border: 1px solid grey;
}

.directory:hover {
    background-color: #445;
}

.directory.expanded {
    background-color: #353545;
    margin-bottom: 0;
}

.directory.collapsed + .children {
    display: none;
}

.file:hover {
    color: #33f;
}
