/* song list */
.song-list {
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}

.song-list li {
    padding: .6em;
    margin-left: 1em;

    border-left: 1px solid black;
    border-right: 1px solid black;

    background-color: #444;

    overflow: auto;    
}

.song-list li .button {
    display: inline-block;
}

.song-list li.selected {
    margin-left: 0;

    padding-top: 1.2em;
    padding-bottom: 1.2em;

    border: 1px solid black;

}

.song-list.playing li.selected {
    background-color: #494;
}

.song-list li:nth-child(even) {
    background-color: #555;
}

.song-list li:first-child {
    border-top: 1px solid black;
}

.song-list li:last-child {
    border-bottom: 1px solid black;
}
