<!DOCTYPE html>
<html>
  <head>
    <title>HeadlessPi -- {% block title %}{% endblock %}</title>

    <!-- fontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="font" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/FontAwesome.otf" />

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- general styles and scripts -->
    <link rel="stylesheet" href="{{url_for('static', filename='skeleton.css')}}" />
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
    <script type="text/javascript" src="{{url_for('static', filename='js/slider.js')}}">
    </script>
    <!-- local scripts-->
    {% block include %}{% endblock %}
  <head>  
  <body>
      <div class="nav box">
        <h2>
          Headless Pi
        </h2>
        <span>
          <span id="mod-prefix"></span>
          {{ menu }}
        </span>
      </div>
      <div class="page">
        <div class="content">
          {% block content %}{% endblock %} 
        </div>

        <div id="right-menu" class="right-menu">
          {% block right_menu %}{% endblock %}
        </div>
      </div>
  </body>
</html>
