/* element styles */
* {
    font-family: 'Arima Madurai', cursive;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 1rem;
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;

    color: #f0f0f0;
    background-color: #03030f;
}

ul {
    diplay: inline-block;
    margin: 0;
}

a {
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .5em;
    padding-right: .5em;

    vertical-align: text-bottom;
    
    color: #30A070;
    text-decoration: none;
}

a:hover {
    background-color: rgba(200, 200, 200, .1);
}

.content h2 {
    color: #d33;
}

/* general boxes */
.page {
    display: flex;
    flex-direction: row;
    height: 45em;
}

div.nav {
    padding: 0em;
    margin-bottom: 0;
    background: linear-gradient(black, #3f3f3f);
}

div.nav a {
    display: inline-block;

    font-weight: bolder;
    font-size: 18px;
}

div.nav h2 {
    padding-left: .5em;
    line-height: 1em;
    margin: 0;
    margin-top: .5em;
}

div.nav #mod-prefix {
    margin-left: .5em;
}

div.content {
    padding-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    flex-grow: 1;
}

div.right-menu {
    flex-grow: 0;
    flex-basis: 30%;
}

.box {
    margin-bottom: .8rem;
    padding: .3rem;
    border: 1px solid grey;

    background-color: #223;
}

.box-right {
    padding-right: 0;
    border-right: none;
}

.box-top {
    padding-top: 0;
    border-top: none;
}

.scrollable {
    max-height: 100%;
    overflow-y: auto;
}

.scrollable::-webkit-scrollbar-track {
    margin: 1px;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #CFCFCF;
}


/* links */
i.fa {
    display: inline-block;
    margin-right: .3em;
}

/* side menu */
.right-menu.hidden > :nth-child(n+2){
    display: none;
}

.right-menu a {
    float: right;
}
